lambda_and_stepFunction/Rolling-Server-Restart
{
  "Comment": "Rolling Server Restarts",
  "StartAt": "Action",
  "States": {
    "Action": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.service_restart",
          "StringEquals": "jease",
          "Next": "Restart_Jease"
        },
        {
          "Variable": "$.service_restart",
          "StringEquals": "ota",
          "Next": "Restart_Ota"
        },
        {
          "Variable": "$.service_restart",
          "StringEquals": "touch",
          "Next": "Restart_Touch"
        }
      ],
      "Default": "Finish"
    },
    "Restart_Jease": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:097048708161:function:iceway-app-server-config-change",
      "ResultPath": "$.currentInstance",
      "Next": "IterateTargets"
    },
    "Restart_Ota": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:097048708161:function:iceway-app-server-config-change",
      "ResultPath": "$.currentInstance",
      "Next": "IterateTargets"
    },
    "Restart_Touch": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:097048708161:function:iceway-app-server-config-change",
      "ResultPath": "$.currentInstance",
      "Next": "IterateTargets"
    },
    "IterateTargets": {
      "Type": "Map",
      "ItemsPath": "$.currentInstance",
      "MaxConcurrency": 1,
      "ResultPath": "$.currentTarget",
      "Iterator": {
        "StartAt": "Deregister_Target",
        "States": {
          "Deregister_Target": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:097048708161:function:iceway-app-server-config-change",
            "Next": "Restart_Target"
          },
          "Restart_Target": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:097048708161:function:iceway-app-server-config-change",
            "Next": "Register_Target"
          },
          "Register_Target": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:097048708161:function:iceway-app-server-config-change",
            "Next": "Target_Health_Check"
          },
          "Target_Health_Check": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:097048708161:function:iceway-app-server-config-change",
            "Next": "CheckHealthStatus"
          },
          "CheckHealthStatus": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.instance_health_status[0].health_status",
                "StringEquals": "healthy",
                "Next": "ProceedTo_NextTarget"
              }
            ],
            "Default": "ExitStateMachine"
          },
          "ProceedTo_NextTarget": {
            "Type": "Pass",
            "Result": "Proceeding to Iteration Next Target",
            "End": true
          },
          "ExitStateMachine": {
            "Type": "Fail",
            "Error": "UnhealthyInstance",
            "Cause": "Instance is not healthy, exiting state machine"
          }
        }
      },
      "End": true
    },
    "Finish": {
      "Type": "Succeed"
    }
  }
}
